<section class="webring archive-posts" style="margin: 30 0px">
    <h2 class="" style="margin: 24px 0 16px">Articles from blogs I follow</h2>
    <section class="flex flex-wrap">
        
        <article class="archive-entry">
            <h3 class="archive-entry-title entry-hint-parent">Cloudflare outage on February 20, 2026</h3>
            <div class="archive-meta">
                <span title="February 21, 2026">February 21, 2026</span>
                as seen on <a href="https://blog.cloudflare.com"> The Cloudflare Blog </a>
            </footer>
            <a aria-label="post link to Cloudflare outage on February 20, 2026" href="https://blog.cloudflare.com/cloudflare-outage-february-20-2026/" class="entry-link" target="_blank" rel="noopener"></a>
        </article>
        
        <article class="archive-entry">
            <h3 class="archive-entry-title entry-hint-parent">Amazon SageMaker AI in 2025, a year in review part 1: Flexible Training Plans and improvements to price performance for inference workloads</h3>
            <div class="archive-meta">
                <span title="February 20, 2026">February 20, 2026</span>
                as seen on <a href="https://aws.amazon.com/blogs/machine-learning/">Artificial Intelligence</a>
            </footer>
            <a aria-label="post link to Amazon SageMaker AI in 2025, a year in review part 1: Flexible Training Plans and improvements to price performance for inference workloads" href="https://aws.amazon.com/blogs/machine-learning/amazon-sagemaker-ai-in-2025-a-year-in-review-part-1-flexible-training-plans-and-improvements-to-price-performance-for-inference-workloads/" class="entry-link" target="_blank" rel="noopener"></a>
        </article>
        
        <article class="archive-entry">
            <h3 class="archive-entry-title entry-hint-parent">Pluralistic: A perforated corporate veil (20 Feb 2026)</h3>
            <div class="archive-meta">
                <span title="February 20, 2026">February 20, 2026</span>
                as seen on <a href="https://pluralistic.net">Pluralistic: Daily links from Cory Doctorow</a>
            </footer>
            <a aria-label="post link to Pluralistic: A perforated corporate veil (20 Feb 2026)" href="https://pluralistic.net/2026/02/20/karioca-konzernrecht/" class="entry-link" target="_blank" rel="noopener"></a>
        </article>
        
        <article class="archive-entry">
            <h3 class="archive-entry-title entry-hint-parent">Our First Proof submissions</h3>
            <div class="archive-meta">
                <span title="February 20, 2026">February 20, 2026</span>
                as seen on <a href="https://openai.com/news">OpenAI News</a>
            </footer>
            <a aria-label="post link to Our First Proof submissions" href="https://openai.com/index/first-proof-submissions" class="entry-link" target="_blank" rel="noopener"></a>
        </article>
        
        <article class="archive-entry">
            <h3 class="archive-entry-title entry-hint-parent">Amazon RDS for Oracle now supports January 2026 Release Update and Spatial Patch Bundle</h3>
            <div class="archive-meta">
                <span title="February 20, 2026">February 20, 2026</span>
                as seen on <a href="https://aws.amazon.com/about-aws/whats-new/recent/">Recent Announcements</a>
            </footer>
            <a aria-label="post link to Amazon RDS for Oracle now supports January 2026 Release Update and Spatial Patch Bundle" href="https://aws.amazon.com/about-aws/whats-new/2026/02/amazon-rd-for-oracle-jan-release-update-spatial-patch-bundle/" class="entry-link" target="_blank" rel="noopener"></a>
        </article>
        
    </section>
    <p class="text-sm text-neutral-500 dark:text-neutral-400 text-right">
        Generated by
        <a href="https://git.sr.ht/~sircmpwn/openring">openring</a>
    </p>
</section>
<style>
    .webring .article {
        flex: 1 1 0;
        min-width: 10rem;
    }
    .webring .summary {
        flex: 1 1 0;
        font-size: 0.8rem;
    }
</style>