{{- $page := . -}}
{{- $displayFormat := default ":date_short" site.Params.DateFormat -}}
{{- $datetimeFormat := "2006-01-02T15:04:05Z07:00" -}}
{{- $scratch := newScratch -}}
{{- $updatedDisplay := $page.Lastmod | time.Format $displayFormat -}}
{{- $updatedDatetime := $page.Lastmod.Format $datetimeFormat -}}

{{- if not $page.Date.IsZero -}}
  {{- $createdDisplay := $page.Date | time.Format $displayFormat -}}
  {{- $createdDatetime := $page.Date.Format $datetimeFormat -}}
  {{- $scratch.Add "items" (slice (printf "<span class='lm-meta-item'>created: <time datetime='%s'>%s</time></span>" $createdDatetime $createdDisplay)) -}}
{{- end -}}

{{- $showUpdated := false -}}
{{- if not $page.Lastmod.IsZero -}}
  {{- if $page.Date.IsZero -}}
    {{- $showUpdated = true -}}
  {{- else if ne ($page.Lastmod.Format "2006-01-02") ($page.Date.Format "2006-01-02") -}}
    {{- $showUpdated = true -}}
  {{- end -}}
{{- end -}}

{{- if $showUpdated -}}
  {{- with $page.File -}}
    {{- with site.Params.historyPostURL -}}
      {{- $historyURL := printf "%s/%s" . $page.File.Path -}}
      {{- $scratch.Add "items" (slice (printf "<span class='lm-meta-item'>updated: <a class='lm-meta-link' href='%s' target='_blank' rel='noopener noreferrer' aria-label='View revision history for this page'><time datetime='%s'>%s</time></a></span>" $historyURL $updatedDatetime $updatedDisplay)) -}}
    {{- else -}}
      {{- $scratch.Add "items" (slice (printf "<span class='lm-meta-item'>updated: <time datetime='%s'>%s</time></span>" $updatedDatetime $updatedDisplay)) -}}
    {{- end -}}
  {{- else -}}
    {{- $scratch.Add "items" (slice (printf "<span class='lm-meta-item'>updated: <time datetime='%s'>%s</time></span>" $updatedDatetime $updatedDisplay)) -}}
  {{- end -}}
{{- end -}}

{{- with ($scratch.Get "items") -}}
  {{- range . -}}
    {{ . | safeHTML }}
  {{- end -}}
{{- end -}}
